@font-face {
    font-family: 'EudoxusSans';
    src: url('./fonts/Eudoxus/EudoxusSans-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'EudoxusSans';
    src: url('./fonts/Eudoxus/EudoxusSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'EudoxusSans';
    src: url('./fonts/Eudoxus/EudoxusSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'EudoxusSans';
    src: url('./fonts/Eudoxus/EudoxusSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
